/* css template that hides some useless information in the json docs. */
.text-secondary {
	display: none;
}
.lang-csharp {
	display: none;
}
.codewrapper {
	display: none;
}
.section {
	display: none;
}
#fields {
	display: inline;
}
	